<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="estilos/estilos.css">
	<title>Peliculas de Disney</title>
</head>

<body style="background-color:#FFF0F5;">
	<header th:replace="layout/layout :: header"></header>
		<div th:if="${peliculas !=null and !peliculas.empty}">
			<div style="text-align:center" th:each="peliculas : ${peliculas}">
					<div class="card" style="text-align:center">
						<div class="card-body " style="background-color: #fff0f5;">
							<img src="" class="card-img-top" alt="...">
							<h2 th:text="${peliculas.Titulo}"></h2>
							<h3 th:text="${peliculas.Fecha}"></h3>
							<h4 th:text="${peliculas.Calificacion}">Calificación:</h4>
							<a class="btn btn-warning" th:href="@{/editarpelicula/} + ${peliculas.idpeliculas}"
								role="button">Editar</a>
							<a class="btn btn-danger" th:href="@{/eliminarpelicula/} + ${peliculas.idpeliculas}"
								role="button">Eliminar</a>
						</div>
					</div>
				</div>
			</div>
		<div th:if="${peliculas ==null or peliculas.empty}">
			La lista de personajes esta vacia :(
		</div>
		<!-- Optional JavaScript; choose one of the two! -->

		<!-- Option 1: Bootstrap Bundle with Popper -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
			crossorigin="anonymous"></script>

		<!-- Option 2: Separate Popper and Bootstrap JS -->
		<!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
</body>

</html>